#quote-search input{
  background-color:  rgb(184, 255, 255); 
  color: black;
  width: 450px;
}
/*Sets background color, font color and width of quote search box*/

#storage input{
  background-color: rgb(235, 255, 244);
  color: black;
  width: 450px;
}
/*Sets background color, font color and width of search word box*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  width: 400px;
  height: 200px;
}
/*Positions the modal in the center of the window and sets the size*/

